<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css.css" rel="stylesheet" type="text/css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Product App</title>
</head>
<body>
<div id="app">
    <div class="product">
        <div class="product-image">
            <img :alt="altText" :src="image"/>
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>
            <p v-if="inStock">(Товар есть на складе)</p>
            <p v-else>(Товара нет на складе)</p>
            <span v-if="onSale">Товар со скидкой</span>
            <div class="rendering">
                <p v-if="inventory > 10">Товар есть на складе</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Почти распродано!</p>
                <p v-else>Товара нет на складе</p>
            </div>
        </div>
    </div>
    <div class="moreProducts">
        <a :href="link">Больше подобных товаров</a>
    </div>
</div>
</body>
</html>